In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests
# Import the API key
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Buraydah,SA,2021-01-17 02:26:36,26.3260,43.9750,51.80,93,0,6.91
1,1,Gwadar,PK,2021-01-17 02:33:24,25.1216,62.3254,64.42,58,0,3.91
2,2,Lukovetskiy,RU,2021-01-17 02:33:24,64.2956,41.9211,5.00,85,90,3.29
3,3,Sorland,NO,2021-01-17 02:27:00,67.6670,12.6934,38.26,78,8,6.58
4,4,Araouane,ML,2021-01-17 02:26:23,18.9048,-3.5265,58.69,29,91,13.06

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [11]:
# Create heatmap for maximum temperature
# 1 Assign the locations to an array of latitude and longitude pairs
# locations = [latitude, longitude]
# 2 Assign the weights variable to some values
# temperatures = # an array of length equal to the loations array length
# 3 Assign the figure variable to the gmaps.figure() attribute
# fig = gmaps.figure()
# 4 Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations
# eatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5 Add the heatmap layer
# fig.add_layer(heatmap_layer)
# 6 Call the figure to plot the data
# fig

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of humidity
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
humidity = city_data_df["Humidity"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of cloudiness
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
clouds = city_data_df["Cloudiness"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of wind speed
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
wind = city_data_df["Wind Speed"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input('What is the minimum temperature you would like for your trip?'))
max_temp = float(input('What is the maximum temperature you would like for your trip?'))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [18]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & (city_data_df['Max Temp'] >= min_temp)].dropna()

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Trairi,BR,2021-01-17 02:25:50,-3.2778,-39.2689,78.10,84,62,9.04
7,7,Busselton,AU,2021-01-17 02:25:13,-33.6500,115.3333,80.01,40,0,5.99
11,11,Georgetown,MY,2021-01-17 02:21:02,5.4112,100.3354,82.40,78,20,4.61
16,16,Arraial Do Cabo,BR,2021-01-17 02:25:19,-22.9661,-42.0278,75.61,84,0,27.45
24,24,Hobyo,SO,2021-01-17 02:26:35,5.3505,48.5268,75.74,82,51,16.22
33,33,Komatipoort,ZA,2021-01-17 02:33:31,-25.4332,31.9548,75.00,85,95,6.44
57,57,Florianopolis,BR,2021-01-17 02:25:38,-27.6146,-48.5012,80.60,83,75,11.50
60,60,Kavaratti,IN,2021-01-17 02:33:37,10.5669,72.6420,81.54,76,0,7.56
62,62,Bambous Virieux,MU,2021-01-17 02:25:33,-20.3428,57.7575,79.00,83,40,8.05
78,78,Mahebourg,MU,2021-01-17 02:33:40,-20.4081,57.7000,78.80,83,40,8.05

In [19]:
preferred_cities_df.count()

City_ID       104
City          104
Country       104
Date          104
Lat           104
Lng           104
Max Temp      104
Humidity      104
Cloudiness    104
Wind Speed    104
dtype: int64

In [20]:
# Create a DataFrame called hotel_df to store hotel names along with city, country, max temp and coordinates
hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng']].copy()
hotel_df['Hotel Name'] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
6            Trairi      BR     78.10  -3.2778  -39.2689
7         Busselton      AU     80.01 -33.6500  115.3333
11       Georgetown      MY     82.40   5.4112  100.3354
16  Arraial Do Cabo      BR     75.61 -22.9661  -42.0278
24            Hobyo      SO     75.74   5.3505   48.5268
33      Komatipoort      ZA     75.00 -25.4332   31.9548
57    Florianopolis      BR     80.60 -27.6146  -48.5012
60        Kavaratti      IN     81.54  10.5669   72.6420
62  Bambous Virieux      MU     79.00 -20.3428   57.7575
78        Mahebourg      MU     78.80 -20.4081   57.7000

In [27]:
# Set the parameters to search for a hotal
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel form the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [28]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
6,Trairi,BR,78.10,-3.2778,-39.2689,janelas do mar
7,Busselton,AU,80.01,-33.6500,115.3333,Observatory Guest House
11,Georgetown,MY,82.40,5.4112,100.3354,Cititel Penang
16,Arraial Do Cabo,BR,75.61,-22.9661,-42.0278,Pousada Porto Praia
24,Hobyo,SO,75.74,5.3505,48.5268,Halane Hotel and Restaurent

In [33]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [34]:
# Add a heatmap of temperature for the vacation spots
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))